
    <div class="custom-cursor" aria-hidden="true">
        <img
            class="custom-cursor__image custom-cursor__image--default"
            src="assets/cursor/default-cursor.png"
            alt=""
        >
        <img
            class="custom-cursor__image custom-cursor__image--key"
            src="assets/cursor/key.png"
            alt=""
        >
        <img class="custom-cursor__image custom-cursor__image--pointing" src="assets/cursor/pointer.png" alt="">
        <img
            class="custom-cursor__image custom-cursor__image--hand"
            src="assets/cursor/Mouse_HandNormal.png"
            alt=""
        >
        <img
            class="custom-cursor__image custom-cursor__image--grab"
            src="assets/cursor/Mouse_HandGrab.png"
            alt=""
        >
        <img
            class="custom-cursor__image custom-cursor__image--eye"
            src="assets/cursor/eye.png"
            alt=""
        >
    </div>
